:root {
	background: black;
	--white: #FFFFFF;
	--black: #000000;
	--very-light-pink: #2f86A6;
	--text-input-field: #F7F7F7;
	--hospital-green: #34bD82;
	--green: #2FDD92;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
	--ama: #F2F013;
}
